# Python Review #1

Using what you learned in the modules, answer the questions below. Take your time and use all the information in the modules as your guide and resource. This isn't about memorization - this is about practicing skills! Good Luck!

## Module 1 Review

#### COMMENTS

Comments are not executed with the rest of the code when you run the cell. These are notes that give context to the code.

1. Open any book, document, brochure, email around you. Take the first two sentences you find. Write the two sentences in a cell below. Assign one sentence to a variable name (save it as a string) and make the other sentence a comment. Run the cell. 
2. Switch the sentences (the first sentence is now a comment, the second sentence is now the string) and re-run the cell.

In [15]:
first_sentence = str("Dear Lifelong Leaning Institute Students, Welcome to the Fall Semester!")
# With the gradual reopening of MC,we are offering most of our courses online.
print(first_sentence)

Dear Lifelong Leaning Institute Students, Welcome to the Fall Semester!

In [17]:
first_sentence=str("With the gradual reopening of MC,we are offering most of our courses online.")
#"Dear Lifelong Leaning Institute Students, Welcome to the Fall Semester!"
print(first_sentence)

With the gradual reopening of MC,we are offering most of our courses online.

#### DATA TYPES 

There are three data types that we will use continuously - integer, float, string. Each cell below includes one of these three data types. Using a comment, write the type of data in each cell next to the value.

In [ ]:
"Hello"   # This is a string

In [ ]:
156      # This is an integer

In [ ]:
"W45"   # This is a string

In [ ]:
12.567   # This is a float

In [ ]:
"198 Spring Street, San Deigo, CA"     # This is a string

In [ ]:
1.87          # This is a floqt

In [ ]:
0.00000435    # This is a float

In [ ]:
"628"         # This is a string

In [ ]:
1.111111114   # This is an integer

In [ ]:
4560886543    # This is an integer

#### VARIABLES

Variables hold information or a data value. To assign a value to a variable, use a single "=". Variables should be given meaningful names, can start with a letter or underscore (no numbers), and should follow <b>CamelType</b> or <b>snake_type</b> formatting. 

1. Write your birthday in longform (Month Day, Year) and save the value to a variable. Choose an appropriate name. 
2. Write the name of your favorite book. Save the value to a variable. Choose an appropriate name. 
3. Write the number of times you've eaten pizza in the past two weeks (0 can be an answer). Save the value to a variable. Choose an appropriate name. 
4. Write a float value with at least three digits after the decimal point. Save the value to a variable. Choose an appropriate name.
5. Pick two additional sentences from the item referenced in the comments section. Write out the sentences and save them to a variable. Choose an appropriate name.

In [1]:
birthday="january 15, 1980"
fav_book="thriller"
pizza_past2_weeks=0
any_float=1.776
sentence3="You will need a working microphone built into your device or headphone with a microphone"
sentence4="Or you can use the free phone conference feature"

#### PRINT AND TYPE FUNCTIONS

The print function is crucial to your python knowledge. The print() function allows you to return a specific item, statement, word, number, etc. It is used to return (print, output, etc) information. Using all the variables you created in the step above, print each one in an individual cell. 

The type function allows you to return the type of data saved to a specific variable. Use the type() function to determine the type of data stored to each of your variables.

In [20]:
print(birthday)

january 15, 1980

In [21]:
print(fav_book)

thriller

In [22]:
print(pizza_past2_weeks)

0

In [24]:
print(any_float)

1.776

In [25]:
print(sentence3)

You will need a working microphone built into your device or headphone with a microphone

In [30]:
print(sentence4)

Or you can use the free phone conference feature

#### ARITHMETIC OPERATORS

Arithmetic operators allow you to do simple math with Python. Operators include: 

    +  : addition
    -  : subtraction
    *  : multiplication
    /  : division
    %  : modulo (finds the remainder of a division)
    ** : exponent
    // : floor division
    
In the cells below, insert any of the above operators to complete the equation. Print the result of the equation.

In [43]:
9+2

11

In [44]:
189.0-78

111.0

In [49]:
3*2

6

In [61]:
3%8

3

In [58]:
999.0027%2736.83

999.0027

In [47]:
488**21

286296647198568771733609157020113746343214564499561381888

In [48]:
11//8

1

In [50]:
45+9

54

In [51]:
808-23

785

In [52]:
4*1

4

In [53]:
0/28

0.0

In [54]:
435%982

435

In [55]:
6**3

216

In [56]:
1//1.5

0.0

In [38]:
65+2

67

In [57]:
10-9

1

In [41]:
245*3

735

In [40]:
33*0

0

In [35]:
9*2

18

In [33]:
89%78

11

#### COMPOUND OPERATORS

Change the value of a variable and re-assign the new value to the same variable. This method saves you a step; all compound operators follow the same pattern:
    
    variable_a = variable_a + 10 <<<--->>> variable_a += 10
    
variable_a is now equal to the original value of variable_a plus 10. Compound operators include:

    +=  : a = a + b
    -=  : a = a - b
    *=  : a = a * b
    /=  : a = a / b
    %=  : a = a % b
    **= : a = a ** b
    //= : a = a // b
    
Convert all the equations below to use compound operators.

In [78]:
var_a=9 // 2
var_a//=10
print(var_a)

0

In [80]:
var_a=(189.0 + 78)
var_a+=10
print(var_a)

277.0

In [85]:
var_a=3 - 2
var_a-=10
print(var_a)

-9

In [86]:
var_a=5 + 1
var_a+=10
print(var_a)

16

In [87]:
var_a=8 * 0
var_a*=10
print(var_a)

0

In [88]:
var_a=4 % 1
var_a%=10
print(var_a)

0

In [89]:
var_a=5 // 2
var_a//=10
print(var_a)

0

In [90]:
var_a=6 / 3
var_a/=10
print(var_a)

0.2

In [91]:
var_a=9 * 2
var_a*=10
print(var_a)

180

In [92]:
var_a=10 - 1
var_a-=10
print(var_a)

-1

In [93]:
var_a=5 ** 4
var_a**=10
print(var_a)

9094947017729282379150390625

In [94]:
var_a=8 - 2
var_a-=10
print(var_a)

-4

In [95]:
var_a=10 + 2
var_a+=10
print(var_a)

22

In [96]:
var_a=11 * 1.7
var_a*=10
print(var_a)

187.0

In [97]:
var_a=9 - 3
var_a-=10
print(var_a)

-4

In [98]:
var_a=7 ** 4
var_a**=10
print(var_a)

6366805760909027985741435139224001

In [99]:
var_a=11 % 2
var_a%=10
print(var_a)

1

In [100]:
var_a=8 / 4
var_a/=10
print(var_a)

0.2

In [120]:
var_a=5 * 5
var_a+=10
print(var_a)

35

In [122]:
var_a=7 % 5
var_a+=10
print(var_a)

12

In [124]:
var_a=8 ** 5
var_a**=10
print(var_a)

1427247692705959881058285969449495136382746624

In [125]:
var_a=12 // 3
var_a//=10
print(var_a)

0

#### ESCAPE CHARACTERS

An escape character allows you to include special characters in a string that would otherwise return an error. To use escape characters, add a backslash (\) before the character you want to escape:

    " \ " use a single backslash to add apostrophe's in strings 
    " \n " use to insert new lines in your strings
    " \t " use to insert tab spaces into your strings
    
Fix the code below to insert the correct escape character into the string.

In [110]:
print('Hello, what\'s up?')

Hello, what's up?

In [115]:
print("Hello,\nI wish the first hello was on its own line!")

Hello,
I wish the first hello was on its own line!

In [118]:
print("Hello\t\t\t\t\t\t\t I wish there was a long space after the first Hello.")

Hello							 I wish there was a long space after the first Hello.

#### FORMATTED STRINGS PT 1

Formatted strings allow you to return strings with specific formatting. A formatted string uses the following code to product output that looks a certain way:

    {}  : a place holder

The placeholder is used to insert the value of a specific variable into the string. All you need to do is insert the name of the variable and whatever value is assigned to that variable will show up when you print the statement. Complete the code in the cells below to print out the proper formatted strings.

In [6]:
x = "Jasmine"
name="Jasmine"

## complete the code below to print the statement "Hello, [name]!"

print(f"Hello {x}!")
print(f"Hello {name}!")

Hello Jasmine!
Hello Jasmine!

In [8]:
x = "Cat"

## complete the code below to print the statement "My favorite animal is a Cat"

print(f"My favorite animal is a {x}")

My favorite animal is a Cat

In [10]:
x = "Hank"

## complete the code below to print the statement "My favorite actor is Tom Hanks"

print(f"My favorite actor is Tom {x}s")

My favorite actor is Tom Hanks

In [17]:
#x = Black
#y = White

## complete the code below to print the statement "Let's play chess, which color do you want to be? Black or White?"

x = "Black"
y = "White"

print(f"Let's play chess, which color do you want to be? {x} or {y}?")

Let's play chess, which color do you want to be? Black or White?

In [19]:
a = "Paris"
b = "Dublin"
c = "Bristol"

## complete the code below to print the statement "The three cities I visited during my vacation were Paris, Bristol, and Dublin."

print(f"The three cities I visited during my vacation were {a}, {b}, and {c}.")

The three cities I visited during my vacation were Paris, Dublin, and Bristol.

#### FORMATTED STRINGS PT 2

Formatted strings allow you to return strings with specific formatting. A formatted string uses the following code to product output that looks a certain way:

    ,   : shows commas in thousands place
    .2f : shows 2 digits after the decimal point
    .2% : shows 2 digits after the decimal point in percentage (%)

The numeric formatting options allow you to return a number with a specific format. Typically, this includes adding a comma in the thousands place and truncating the amount of digits found after a decimal point. Complete the following questions in the cells below:

1. Print the following number with commas and 1 number after the decimal: 49792862.39231
2. Print the following number with commas and 3 number after the decimal: 3999876.009
3. Print the following number as a percentage with 2 numbers after the decimal: .03974
4. Print the following number with commas: 1000000000000000000
5. Write the code to produce this output: 7, 890.00
6. Write the code to product this output: 567.00045
7. Print the following number with commas and no numbers after the decimal: 3450000

In [26]:
x=49792862.39231
print(f"{x:,.1f}")

49,792,862.4

In [27]:
x=3999876.009
print(f"{x:,.3f}")

3,999,876.009

In [31]:
x=.03974
print(f"{x:,.2%}")

3.97%

#### INPUT FUNCTION 

The input function directly asks the user (you) for information. 

    input(tell the user what you want them to do!)
    
1. Use the input() function to find a users name
2. Use the input() function to find a users address
3. Use the input() function to find a users phone number
4. Use the input() function to find a users age
5. Using a formatted string, put all this information together and print a statement using what you learned about the user.

In [30]:
## i'll get you started...

name=input("User, what is your name ?")
print(f"The User name is {name:}")

User, what is your name ? anne

The User name is anne

In [44]:
adress=input("User, what is your adress ?")

User, what is your adress ? 1 way east planet avenue, MD

In [41]:
phone=input("User, what is your phone number ?")

User, what is your phone number ? 2401234567

In [42]:
age=input("User, what is your age ?")

User, what is your age ? 22

In [45]:
print(f"Let's introduce the user : {name} lives at {adress}; she's {age} years old, and her phone number is {phone}")

Let's introduce the user : anne lives at 1 way east planet avenue, MD; she's 22 years old, and her phone number is 2401234567

#### DATA TYPE CONVERSION FUNCTIONS

You can convert data to various types using three built-in functions. 
* the int() function turns a value into an integer
* the float() function turns a value into a float
* the str() function turns a value into a string

Complete the code below to make the necessary changes.

In [47]:
x = "187"

### convert x into a float value

print(int(x))

187

In [48]:
y = 123.56

### convert y into a string value
print(str(y))

123.56

In [50]:
z = 99

### convert z into a float value 
print(float(z))

99.0

# { Module 1 Quiz }

1. Print out your favorite snack and write a comment about what you are doing in the code. 
2. Print the sum of the following values: 3, 56, 21, 11, 7, 0, 5
3. Print the remainder of the values 435 and 6
4. Create a variable called 'eye color' and store your eye color to the variable. Print a sentence describing your eye color and using the variable in the sentence. 
5. Write a code to get two integers from a user. Print out their sum.

In [54]:
fav_snacks="baby carrots"
print(f"my favorite snacks are {fav_snack}")

# i firts define the variable "fav_snacks", then I printed a sentence saying what are my favorite snacks, using a formatted string with curly brackets to input the variable

my favorite snacks are baby carrots

In [56]:
print (3+56+21+11+7+0+5)

103

In [57]:
435%6

3

In [59]:
eye_color="blue"
print(f"I have {eye_color} eyes")

I have blue eyes

In [76]:
morning=int(input("Jack, how many cars did you wash this morning?"))
aftern=int(input("how many remain to wash?"))
print(f"So today, you will wash a total of {morning+aftern} cars")

Jack, how many cars did you wash this morning? 2
how many remain to wash? 5

So today, you will wash a total of 7 cars

## Module 2 Review

#### IMPORTING LIBRARIES

A library is a specific collection of python functions. You can use these functions by first importing the library into your notebook. Once you import your library, you can give it a nickname. The nickname is optional, but it makes it easier to use (or reference) the library throughout your code. 

    import [ library name ]
    
Importing a library and assigning a nickname:

    import [ library name ] as [ nickname ]
    
Import the library "random" and nickname it "rd".

In [99]:
import random

In [102]:
import random as rd

#### RANDOM NUMBER GENERATOR

The random library contains a function that allows you to generate a random number. This library has two functions that are useful:

    .random() : this will generate a random number 
    .randint() : this will generate a random integer within a specific range
    
When you want to use the function, you first have to reference the name of your library (or it's nickname) and then attach the function to the end of the library name. For example:

    rd.random()
    rd.randint() 
    rd.randint(0, 10) >>> this code will generate a random number between 0 and 10 

1. Generate a random number
2. Generate a random integer
3. Generate a random integer between 1 and 100
4. Generate a random integer between -10 and 10

In [108]:
rd.random()

0.565810135270415

In [120]:
rd.randint(1, 25)

10

In [118]:
rd.randint(1,100)

29

In [123]:
rd.randint(-1,10)

3

#### LEN FUNCTION

The len() function returns the length of a given value. This includes the length of a string, the amount of characters is a sentence (which also counts white spaces), the number of items in a list, etc. Complete the code below to determine the length of the following items. Before you run the code, try to guess what the length value is going to be.

In [77]:
### what is the length of the following string:

len("Hello")

5

In [78]:
### what is the length of the following string:

len("123ABC")

6

In [79]:
### what is the length of the following string:

len("Hello, how are you doing today?")

31

In [80]:
### what is the length of the following string:

len("Hello, it's really nice to meet you! I hope you're well!")

56

In [81]:
### what is the length of the following string:

len(" ")

1

#### STRING METHODS

There are several functions that are used specifically with strings. The most important functions to remember are:
    
<b> Change the Case </b>
    
    .title() >> change a string to title case
    .upper() >> change a string to upper case
    .lower() >> change a string to lower case
    
<b> Remove White Spaces from a String </b>

    .strip() >> strip white spaces from both ends of a string
    .rstrip() >> remove white spaces from the right-side of a string
    .lstrip() >> remove white spaces from the left-side of a string
    
<b> Replace a value in a String with another value</b>

    .replace() >> replace a specific character with another character
    .replace([what you want to replace], [what to replace it with])
    
Complete the code below to practice the above string methods.

In [126]:
name = "gEOrGe washINGtoN"

## change the above string to title case
name.title()

'George Washington'

In [128]:
yelling = "HELLO WHAT ARE YOU DOING!"

## change the above string to lowercase
yelling.lower()

'hello what are you doing!'

In [129]:
book = "the great gatsby"

## change the above string to title case
book.title()

'The Great Gatsby'

In [130]:
city = "nEW york"

## change the above string to uppercase
city.upper()

'NEW YORK'

In [131]:
quote = "        Not all those who wander are lost.         "

## strip the above string of white space on each side 
quote.strip()

'Not all those who wander are lost.'

In [132]:
quote = "        Not all those who wander are lost.         "

## strip the above string of white spaces on the left side
quote.lstrip()

'Not all those who wander are lost.         '

In [133]:
quote = "        Not all those who wander are lost.         "

## strip the above string of white spaces on the right side
quote.rstrip()

'        Not all those who wander are lost.'

In [137]:
speech = "4 score and seven years ago..."

## in the above string, replace the value of "4" with the word "four"
speech.replace("4", "four")

'four score and seven years ago...'

In [ ]:
speech = "Four score and seven years ago..."

## in the above string, replace the word of "seven" with the value "7"
speech.replace("seven", "7")

In [139]:
speech = "Four score and seven years ago..."

## in the above string, replace the "..." with a single period
speech.replace("...", ".")

'Four score and seven years ago.'

#### INDEXING A STRING

Strings are ordered sequences of characters and each character has a number associated with it. 

Indexing allows you to access individual characters in a string (or other ordered data types like a list) directly by using a numeric value, that numeric value is associated with a character/position in the string. 

In python, indexing is zero-based, meaning, the first character in the string has an index of 0, followed by 1, then 2, etc. See below for an example of how index values are associated with a string:

    H[0]e[1]l[2]l[3]o[4]![5]
    
index value of 0 returns the character "H"
index value of 1 returns the character "e"
index value of 2 returns the character "l"
index value of 3 returns the character "l"
index value of 4 returns the character "o"
index value of 5 returns the character "!"

Complete the code below to practice indexing a specific string.

In [140]:
## run this cell to define the variable 'words'
## determine the length (how many characters) of the passage 

words = "To be, or not to be, that is the question..."

len(words)

44

In [141]:
## index the variable 'words'
# what character is in position 0?

words[0]

'T'

In [142]:
## index the variable 'words'
# what character is in position 15?
words[15]

'o'

In [143]:
## index the variable 'words'
# what character is in position 9?
words[9]

' '

In [144]:
## index the variable 'words'
# what character is in position 39?
words[39]

'o'

#### CUSTOMIZED FUNCTIONS 

Python allows you to create your own unique functions. This gives you a lot of flexibility on the tasks you can automate within your code. You can create a function to do practically anything -- print a single value, add two numbers together, remove white spaces from a string, etc. 

* A custom function begins with the keyword <b>def</b> and followed by a function name (of your choice). 
* The function may take argument(s) as input within the opening and closing parentheses, just after the function name and following by a colon. 
* After defining the function name and argument(s) a block of program statement(s) start on the next line and these statement(s) must be indented. Please note, adding arguments within the parentheses is optional!

When you are defining a function, follow these steps:

     def function_name(argument1, argument2, ...) :
          statement_1
          statement_2

Complete the code below to define a series of functions.

In [2]:
# EXAMPLE #
## define a function that takes one number and prints the number

def print_num(num):
    print(num)

## call the function
## this function takes one argument, so you have to give the function info

print_num(10)

10

In [158]:
# EXAMPLE #
## define a function that generates one number and prints the number

def print_num_b():
    num = int(input("Enter a number: "))
    print(num)

## call the function
## this function takes no arguments, therefore, we can call the function without giving information first

print_num_b()

Enter a number:  2

2

In [29]:
## define a function that takes two numbers and adds them together

def print_nums(num1, num2):
    print(num1 + num2)

## call the function below
## this function takes two arguments, so you have to give the function info
num1= 5
num2=80
def print_nums():
    print(num1+num2)
    
print_nums()

85

In [33]:
## define a function that generates two numbers and adds them together

def print_nums_b():
    num1 = int(input("Enter a number: "))
    num2 = int(input("Enter another number: "))
    print(num1 + num2)

## call the function below
## this function takes no arguments, therefore, we can call the function without giving information first

def print_nums_b():
    num1 = int(input("Enter a number: "))
    num2 = int(input("Enter another number: "))
    print(num1 + num2)
    
print_nums_b()

Enter a number:  20
Enter another number:  3

23

In [69]:
## define a function that takes a string and changes the case to uppercase

def uppercased(string):
    string=string.upper()
    print(string)
    
## call the function below
## this function takes one argument, so you have to give the function info

def uppercased():
    string = "heLlOooOO eliKia".upper()
    print(string)
    
uppercased()

HELLOOOOO ELIKIA

In [101]:
## define a function that asks a user for two numbers then multiplies those numbers together

def multi(x, y):
    print(x * y)
    
## call the function below
## this function takes two arguments, so you have to give the function info


def multi(x, y):
    x = int(input("how many apples do you eat per day?"))
    y = int(input("how many days in the week ?"))
    print(x*y)
    
multi(x,y)

how many apples do you eat per day? 2
how many days in the week ? 3

6

In [123]:
# another examples to check if the function works without variable after the function name 
  #and while running in (last line)

def total():
    x = int(input("how many apples do you eat per day?"))
    y = int(input("how many days in the week ?"))
    print(x*y)
    
total()

how many apples do you eat per day? 2
how many days in the week ? 3

6

In [240]:
# another example to check  the function BUT THAT ONE DOES'NT WORK. IT LOOK LIKE I'TS BECAUSE VARTIABLES ARE DEFINE 
# WITH MORE THAN ONE CARACTER OR WITH VATIABLE NAMES OTHER THAN X AND Y

def aatotal(xa, ya):
    xa = int(input("how many apples ?"))
    ya = int(input("how many days ?"))
    print(xa*ya)
    
aatotal(xa,ya)

NameError: name 'xa' is not defined

In [252]:
# another example : work with x and y as variable, but doesnt when a and b are put in the last line (the  function)

def aatotal(a, b):
    a = int(input("how many apples ?"))
    b = int(input("how many days ?"))
    print(a*b)
    
aatotal(x, y)

how many apples ? 1
how many days ? 5

5

In [128]:
def total(h, f):
    h=int(input("how many apples do you eat per day?"))
    f=int(input("how many days in the week ?"))
    print(h*f)
    
total(h,f)

NameError: name 'h' is not defined

In [137]:
## define a function that asks a user for two numbers then multiplies those numbers together

def multi_b():
    x = int(input("Enter a number: ")) 
    y = int(input("Enter another number: "))
    print(x * y)

## call the function below
## this function takes no arguments, therefore, we can call the function without giving information first

def multi_b():
    x = int(input("Enter a number: ")) 
    y = int(input("Enter another number: "))
    print(x * y)

multi_b()

Enter a number:  1
Enter another number:  6

6

# { Module 2 Quiz }

1. Convert "890" to an integer data type
2. Get two numbers from a user. Use these two numbers as the starting and ending number when generating a random integer. Run the code to produce a random integer within this range.
3. Remove the whitespaces from the ends of the following string: "   What is your name   ?"
4. After you remove the whitespaces from the above string, index the string to find the character in position 3.
5. Define a function that asks a user for three numbers. Add the first two numbers together. Then, multiply the sum of the first two numbers with the third number. After you define the function, use it!

In [138]:
# Convert "890" to an integer data type

x="890"
print(int(x))

890

In [185]:
# """"""Get two numbers from a user. Use these two numbers as the starting and ending number 
# when generating a random integer. Run the code to produce a random integer within this range.""""""

x=(int(input("Give me a number :")))
y=(int(input("Give me a second number:")))

Give me a number : 20
Give me a second number: 101

In [151]:
# Trying another method and using a float as input -TO ASK TO THE TEACHER

print(int(input("Give me a number:")))
print(int(input("Give me a second number:")))

Give me a number: 11.2

ValueError: invalid literal for int() with base 10: '11.2'

In [155]:
# Trying another method and using an integer  as input -TO ASK TO THE TEACHER

print(int(input("Give me a number:")))
print(int(input("Give me a second number:")))

Give me a number: 250

250

Give me a second number: 21

21

In [154]:
# Trying another method ( when using a float without the 'int' function, the code runs well)

print(input("Give me a number:"))
print(input("Give me a second number:"))

Give me a number: 20.2

20.2

Give me a second number: 21

21

In [169]:
# """"""Get two numbers from a user. Use these two numbers as the starting and ending number 
# when generating a random integer. Run the code to produce a random integer within this range.""""""

x=(int(input("Give me a number :")))
y=(int(input("Give me a second number:")))

Give me a number : 3
Give me a second number: 1001

In [173]:
import random as anna

In [174]:
anna.randint(x,y)

826

In [189]:
# Remove the whitespaces from the ends of the following string: " What is your name ?"

z=" What is your name ?"
print(z.strip())

What is your name ?

In [191]:
# After you remove the whitespaces from the above string, index the string to find the character in position 3.

print(z[3])

a

In [193]:
def mafonction():
    y1=(int(input("Give me a number :")))
    y2=(int(input("Give me a second number:")))
    days=(int(input("Give me the nomber of days:")))
    print((y1+y2)*days)
mafonction()

Give me a number : 2
Give me a second number: 3
Give me a last number: 5

25

## Module 3 Review

#### COMPARISON AND BOOLEAN OPERATORS

Comparison operators compare two values to each other and return a result based on that comparison (either true or false). The comparison operators you have available are as follows:

    == : equal to
    != : not equal to
    >  : greater than
    <  : less than
    >= : greater than or equal to
    <= : less than or equal to
    
For example, x = 10 and y = 14, see below for the following comparison results:

       x == y >> FALSE
       x != y >> TRUE
       x > y >> FALSE
       x < y >> TRUE
       x >= y >> FALSE
       x <= y >> TRUE
    
1. Create 5 conditions that produce a FALSE result
2. Create 5 conditions that produce a TRUE result

In [201]:
# Create 5 conditions that produce a FALSE result

x=22
y=105
print(x==y)
print(x>=y)
print(y<=x)
print(x>y)
print(y<x)

False
False
False
False
False

In [206]:
# Create 5 conditions that produce a TRUE result

x=85
y=61
print(x!=y)
print(x>=y)
print(y<=x)
print(x>y)
print(y<x)

True
True
True
True
True

#### CONDITIONAL STATEMENTS

Conditional statements check a statement for truth and executes a specific task depending on if the statement is true or false. Conditional statements include:

    IF >> if 
    ELSE >> else
    ELIF >> else if

#### IF STATEMENTS

The IF statement checks a statement for truth, if the statement is true a specific task will be executed

1. Run the code in the first example
2. Create your own IF statement that prints a number if it is higher than 100
3. Create an IF statement that adds 10 to a number if it is higher than 100; print the sum of the two numbers.

In [207]:
## EXAMPLE

age = 28

if age > 18:
    print("You are older than 18.")

You are older than 18.

In [213]:
# Create your own IF statement that prints a number if it is higher than 100

days_in_year = 365

if days_in_year > 100:
    print(f"The number of days in a year is {days_in_year}.")

The number of days in a year is 365.

In [218]:
# Create an IF statement that adds 10 to a number if it is higher than 100; print the sum of the two numbers

any_num = 105

if any_num > 100:
    print(int(any_num+10))

115

#### IF/ELSE STATEMENTS

The IF/ELSE statements (when used together), checks a statement for truth - if the statement is true, the task underneath the IF statement will execute. If the statement if false, the task underneath the ELSE statement will execute.

1. Run the code in the first example
2. Create your own IF/ELSE statement that prints a number if it is higher than 100; if it is lower than 100, print "Low Number". 
3. Create an IF/ELSE statement that adds 10 to a number if it is higher than 100; if it isn't higher than 100, add 100 to the number. Print the sum of the two numbers.

In [219]:
## EXAMPLE

age = 8

if age > 18:
    print("You are older than 18.")
else:
    print("You are younger than 18.")

You are younger than 18.

In [225]:
# Create your own IF/ELSE statement that prints a number if it is higher than 100; 
# if it is lower than 100, print "Low Number".

num1 = 22

if num1 > 100:
    print(f"The number is {num1}, higher than 100.")
    
else :
    print("Low number")

Low number

In [228]:
# Create an IF/ELSE statement that adds 10 to a number if it is higher than 100; 
# if it isn't higher than 100, add 100 to the number. Print the sum of the two numbers..

num1 = 22

if num1 > 100:
    print(num1+10)
    
else :
    print(num1+100)

122

#### ELIF STATEMENTS

The ELIF statement is short for "ELSE IF" and is a combination of the above statements. ELIF checks another statement for truth (after the initial IF statement) -- if the statement if true, the tasks underneath the ELIF statement will execute. 

1. Run the code in the first example
2. Create your own IF/ELIF/ELSE statement that prints a number if it is higher than 100; if the value is equal to 100 - print "100". If both statements are false, print "less than 100").
3. Create an IF/ELIF/ELSE statement that adds 10 to a number if it is higher than 100; if the number is greater than 50 -- add 20 to the number. If none of the above are true, add 100 to the number. Print the sum of the two numbers.

In [229]:
## EXAMPLE

age = 18

if age > 18:
    print("You are older than 18.")
elif age == 18:
    print("You ARE currently 18!")
else:
    print("You are younger than 18.")

You ARE currently 18!

In [232]:
# Create your own IF/ELIF/ELSE statement that prints a number if it is higher than 100; 
# if the value is equal to 100 - print "100". If both statements are false, print "less than 100").


num2 = 100

if num2 > 100:
    print(num2)
elif num2 ==100:
    print(100)
else :
    print ("less than 100")

100

In [239]:
# Create an IF/ELIF/ELSE statement that adds 10 to a number if it is higher than 100; 
#if the number is greater than 50 -- add 20 to the number. 
#If none of the above are true, add 100 to the number. Print the sum of the two numbers.

num3 = 25

if num3 > 100:
    print(num3+10)
elif num3 >50:
    print(num3+20)
else :
    print (num3+100)

125

#### LISTS

Lists are a unique data type within Python. Lists are ordered and changeable -- which means you can index a list and you can add/remove values from a list. A list is a collection of values all saved together into a single variable. Lists can contain multiple data types within a single list. All values within a list are separated by a comma. Lists are defined by square brackets. 

    list_name = [value1, value2, value3...]
    
Complete the code below to define a series of lists.

In [253]:
## add two values to the following list of flowers
# print the list

flowers = ["Rose", "Lily", "Poppy", "hortensia", "paquerette" ]
print(flowers)

['Rose', 'Lily', 'Poppy', 'hortensia', 'paquerette']

In [255]:
## fix the code below to define a list of names
# print the list

names = ["Jack", "Max", "Leo", "Harper", "Sam"]
print(names)

['Jack', 'Max', 'Leo', 'Harper', 'Sam']

In [259]:
## use the space below to create a blank list
# print the list to make sure its blank

mylist=[]
print(mylist)

[]

#### LIST INDEXING AND SLICING

Indexing a list works similarly to indexing a list - you are specifically asking to see the value within a specific location. A list index is still zero-based. See below for a list of colors. Next to each color is the index value.

    colors = [red-0, yellow-1, blue-2]

To index, you will state the name of your list and then within square brackets, specify the location you want to see. 

    colors[0] >> "red-0"
    colors[1] >> "yellow-1"
    colors[2] >> "blue-2"
    
Slicing a list returns a specific segment of the list instead of just returning a specific value in a specific index position. Slicing will return all the values of a list from a starting index location up to (<b>but not including</b>) an ending index location. Slicing uses square brackets and follows the pattern below:

    list_name[starting point : ending point]
    
Slicing will literally give you a slice of the list. See below for an example using the colors list. 

    colors[0:2] >> red-0, yellow-1
    colors[0:3] >> red-0, yellow-1, blue-2
    
1. Create a list of objects you find around your house. Have at least 6 values in the list. Print the list. 
2. What value is at position 4 in your list?
3. What value is at position 0 in your list?
4. Slice your list so you return all values except for the last two.

In [263]:
# Create a list of objects you find around your house. Have at least 6 values in the list. Print the list.
objects=["microwave", "slowcooker", "paper", "tv", "sofa"]

In [264]:
# What value is at position 4 in your list?
print(objects[4])

sofa

In [265]:
# What value is at position 0 in your list
print(objects[0])

microwave

In [267]:
# Slice your list so you return all values except for the last two.
print(objects[0:3])

['microwave', 'slowcooker', 'paper']

#### ADDING VALUES TO A LIST

Lists are changeable, which means you can add values to a list after you have defined the list initially. 

The .append() function will add a single value to the end of your list. This function can only add one value at a time, and it will always attach to the end. To use the function, see an example below:

    list_name.append( new_item_to_add )
    
    colors.append("green-3")
    
The .insert() function will add a single value to a specific index-position within your list. Unlike the append function, this means the item your adding won't automatically be attached to the end. To use the function, see an example below:

    list_name.insert( index-position, new_item_to_add )
    
    colors.insert(0, "green-3")

The .extend() function allows you to add multiple values to a list at one time. This is the function to use if you don't want to add values one by one. To use the function, you first have to create a separate list of the values you want to add. Then, you will use the .extend() function to add all the values on the list onto the end of the existing list. See below for an example:

    new_list = ["new_value1", "new_value2", "new_value3"...]
    list_name.extend( new_list )
    
    
    new_colors = ["green-3", "purple-4"]
    colors.extend(new_colors)
    
1. Create a list of shapes below. This list should have at least 3 values. Print the list. 
2. Use the append function to add a shape to your list. Print the list.
3. Use the insert function to add a shape to your list. This shape should be inserted in index position 2. Print the list.
4. Use the extend function to add 3 additional shapes to your list. Print the list.

In [284]:
# Create a list of shapes below. This list should have at least 3 values. Print the list. 
shapes=["round", "triangle", "square", "oblong"]
print(shapes)

['round', 'triangle', 'square', 'oblong']

In [285]:
# Use the append function to add a shape to your list. Print the list.
shapes.append("rectangle")
print(shapes)

['round', 'triangle', 'square', 'oblong', 'rectangle']

In [286]:
# Use the extend function to add 3 additional shapes to your list. Print the list.
new_shapes=["moonshape", "sunshape", "earthshape"]
shapes.extend(new_shapes)
print(shapes)

['round', 'triangle', 'square', 'oblong', 'rectangle', 'moonshape', 'sunshape', 'earthshape']

# { Module 3 Quiz }

1. Create 3 conditions that produce a false result. Create 3 conditions that produce a true result.
2. Ask the user for a specific color and store the value into a variable. If the color is Blue, print "Blue is a calming color". If the color is Red, print "Red is a fiery color". Otherwise, print "All colors are beautiful".
3. Create a list of 5 fictional characters. Print the list. 
4. Ask the user for a specific number between 1 and 10. If the number is less than 3, print 'low value'. If the number is greater than 7, print 'high number'. Otherwise, print 'thank you'.
5. Create a function that determines if a student passed or failed a test. Ask the user for their test score, if the value is below 70, print 'You failed'. If the value is 70 or above, print 'You passed'. If the value is above 100 or below 0, print 'Please enter a valid number'.

In [293]:
# Create 3 conditions that produce a false result. 


x=85
y=61
print(y<=x)
print(x>y)
print(y<x)


# Create 3 conditions that produce a true result.
a=22
b=105
print(a==b)
print (b<=a)
print(b<b)

True
True
True
False
False
False

In [295]:
# Ask the user for a specific color and store the value into a variable. 
    # If the color is Blue, print "Blue is a calming color". 
    # If the color is Red, print "Red is a fiery color". 
    # Otherwise, print "All colors are beautiful".
    
pref_color=input("what's your prefered color ?")
print(pref_color)

what's your prefered color ? white

white

In [296]:
# Create a list of 5 fictional characters. 
# Print the list. 

fic_car=["aladin", "barbebleue", "mickey", "cortex", "minus"]
print(fic_car)

['aladin', 'barbebleue', 'mickey', 'cortex', 'minus']

In [314]:
# Ask the user for a specific number between 1 and 10. 
    #If the number is less than 3, print 'low value'. 
    #If the number is greater than 7, print 'high number'. Otherwise, print 'thank you'.

user_num=int(input("Give me a number between 1 and 10 :"))

if user_num<3:
    print("low value")
elif(user_num>7):
    print("high number")
else:
    print("Thank you!")

Give me a number between 1 and 10 : 6

Thank you!

In [336]:
# Create a function that determines if a student passed or failed a test. Ask the user for their test score, 
    #if the value is below 70, print 'You failed'. If the value is 70 or above, print 'You passed'. 
    #If the value is above 100 or below 0, print 'Please enter a valid number'.

score=int(input("What is your score?"))
if score<70:
    print("You failed")
elif(score>=70):
    print("You passed!")
else:
    print("Please enter a valid number!")

What is your score? 2

You failed

## Advanced Review

Complete the exercises below. These exercises cover topics from all the modules covered in the class thus far, not just the items reviewed in this notebook. Each exercise should be completed in its own cell (or multiple cells). 

*****************************

1.	Create a program that asks the user to enter their name and their age. Print out a message addressed to them that tells them the year that they will turn 100 years old.
2.	Ask the user for a number. Depending on whether the number is even or odd, print out an appropriate message to the user.
3.	Take a list and write a program that prints out all the elements of the list that are less than 5. BONUS: Instead of printing the elements one by one, make a new list that has all the elements less than 5 from this list in it and print out this new list.
4.	Generate a random number between 1 and 9 (including 1 and 9). Ask the user to guess the number, then tell them whether they guessed too low, too high, or exactly right. BONUS: Keep the game going until the user types exit
5.	Write a program that takes a list of numbers (for example, a = [5, 10, 15, 20, 25]) and makes a new list of only the first and last elements of the given list.
6.	Write a password generator in Python. Be creative with how you generate passwords - strong passwords have a mix of lowercase letters, uppercase letters, numbers, and symbols. The passwords should be random, generating a new password every time the user asks for a new password.